@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto:ital,wght@0,100;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto+Flex:opsz,wght@8..144,500&family=Roboto:ital,wght@0,100;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto+Flex:opsz,wght@8..144,500&family=Roboto+Mono:wght@700&family=Roboto:ital,wght@0,100;0,400;1,700&display=swap");
header {
  background-color: #ffffff;
}
header div img {
  background-color: #ffffff;
  height: 100px;
}
header nav {
  background-color: #163D34;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 70px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
header nav ul li {
  margin: 25px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
}
header nav ul li a:hover {
  color: #163D34;
  background-color: #4B9461;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section h1 {
  color: #163D34;
  text-align: center;
  font-size: 34px;
  margin-top: 25px;
  font-family: "Roboto Flex", sans-serif;
}
section h2 {
  color: #163D34;
  text-align: center;
  font-size: 28px;
  font-family: "Roboto Flex", sans-serif;
}

.grid-container {
  margin: 35px;
  background-color: #7C97A3;
  height: 30px;
  /* grids */
  display: grid;
  position: relative;
  /*columnas*/
  grid-template-columns: repeat(2, 1fr);
  /* rows*/
  grid-template-rows: repeat(2, 1fr);
  /*gap separacion entre columnas o filas */
  -moz-column-gap: 1px;
       column-gap: 1px;
  /*
  padding-left: 5px;
  padding-bottom: 5px;*/
  padding: 2px;
}

.uno {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-display: "Nunito Sans", sans-serif;
  color: #ffffff;
  /*padding-left: 15px;*/
  border-right: 2px solid white;
  padding-inline: 120px;
}

.dos {
  padding-inline: 130px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-left: 20px;
}

.listascentrales {
  color: #7C97A3;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  margin-left: 180px;
}

.centrales {
  margin-top: 30px;
  display: flex;
  height: 450px;
  /*elemento para alinear los elementos*/
  align-items: center;
  flex-wrap: wrap;
  /*propiedad para el container*/
  /*justify es para poder poner a los elementos en el lugar que nosotros queramos*/
  justify-content: space-around;
  padding: 5px;
  flex-direction: row-reverse;
  /*BORDER*/
  border-radius: 5px solid;
}

.centrales img {
  width: 250px;
}

.centrales p {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}

section .centrales-uno {
  background-image: linear-gradient(to top, #1D5770, #7C97A3);
  padding: 5px;
  /*propiedad para mover los items de manera independiente*/
  align-self: stretch;
  border-radius: 5px;
}

section .centrales-dos {
  padding: 5px;
  background-image: linear-gradient(to top, #1D5770, #7C97A3);
  align-self: stretch;
  border-radius: 5px;
}

.centrales-tres {
  padding: 5px;
  background-image: linear-gradient(to top, #1D5770, #7C97A3);
  align-self: stretch;
  font-family: "Nunito Sans", sans-serif;
}

footer {
  margin-top: 50px;
  background-color: #4B9461;
  height: auto;
  text-align: center;
  padding: 10px;
}
footer a {
  margin-top: 20px;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  font-size: 18px;
}
footer .centro-footer01 {
  margin-top: 5px;
  font-size: 24px;
  text-align: center;
  color: #163D34;
}
footer .centro-footer02 {
  margin-top: 5px;
  color: #ffffff;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  font-size: 18px;
}
footer .centro-footer03 {
  margin-top: 5px;
  color: #163D34;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  font-size: 21px;
}

.caja-directorio {
  margin-top: 20px;
  display: flex;
  background-color: #7C97A3;
  font-family: "Roboto", sans-serif;
  margin-right: 100px;
  margin-left: 200px;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
  width: 500px;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}

.caja-directoriouno {
  font-size: 24px;
  margin-left: 30px;
  list-style-type: none;
}

.caja-directoriodos {
  display: block;
  height: 30px;
  background-color: #ffffff;
  margin-top: 5px;
  border-radius: 2px;
  margin-left: 30px;
  width: 300px;
}

.caja-directoriotres {
  font-size: 24px;
  height: 30px;
  margin-top: 30px;
  border-radius: 2px;
  margin-left: 30px;
  width: 300px;
  text-indent: none;
  list-style-type: none;
}

.caja-directoriocuatro {
  display: flex;
  background-color: #ffffff;
  color: #7C97A3;
  border-radius: 5px;
  margin-left: 30px;
  width: 300px;
  font-size: 18px;
  padding: 4px;
  margin-top: 5px;
  justify-content: space-evenly;
  text-align: left;
}

.caja-directoriocinco {
  display: block;
  height: 35px;
  background-color: #ffffff;
  color: #7C97A3;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 30px;
  width: 300px;
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

.caja-directorioimg {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  height: 10%;
  list-style-type: none;
  background-color: #ffffff;
}

.parrafos-fechas {
  text-align: right;
  font-family: "Nunito Sans", sans-serif;
  margin-top: 20px;
  font-size: 14px;
}

.textos-left {
  margin-top: 20px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

.contendedor-transform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textos-centrados {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.textos-left {
  font-family: "Nunito Sans", sans-serif;
  margin-left: 20px;
  font-weight: 500;
}

.lista-numeros {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  margin-left: 60px;
  margin-top: 15px;
}

.lista-datosAP {
  color: #163D34;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  margin-left: 50px;
}/*# sourceMappingURL=style.css.map */