

.parrafos-fechas{
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 20px;
    font-size: 14px;
    
}



.textos-left{
    margin-top: 20px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.contendedor-transform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    
    @include mobile{
        
        width: 100%;
        gap: 10px;
        margin-bottom: 50px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    @include tablet{
        width: 100%;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

