$color-cide: #1D5949;





footer{

    background-color: #4B9461;
    text-align: center;
    padding: 10px;
    width: 100%;

    
    
    

    @include mobile{
        width: 100%;
        display: grid;
        justify-content:last baseline;

    }


    @include tablet{
        width: 100%;
        display: grid;
        justify-content:last baseline;
    
    }
}


    a{
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 18px;


    }



.centro-footer01{
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
    color: $color-cide;
    
}

.centro-footer02{
    margin-top: 5px;
    color: #ffffff;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 18px;
}





.centro-footer03{
    margin-top: 5px;
    color: $color-cide;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 21px;
}
