footer{
    margin-top: 50px;
    background-color: #4B9461;
    height: 170px;
    text-align: center;


    a{
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 21px;
}

.centro-footer01{
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
    color: #163D34
    
}
.centro-footer02{
    margin-top: 5px;
    color: #ffffff;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.centro-footer03{
    margin-top: 5px;
    color: #163D34;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 21px;
}

}
