$color-cide: #163D34;


header{
    background-color: #ffffff;
    

    div img{
        background-color: #ffffff;
        height: 100px;
    }

    nav {
        background-color: $color-cide;
        ;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        height: 70px;
        
        
            ul{
                    display: flex;
                    list-style-type: none;
                    align-items: center;
                    
                    
                li{
                    
                    margin: 25px;
                    
                    a{
                        text-decoration: none;
                        color: #ffffff;
                        font-family: 'Nunito Sans', sans-serif;
                        
                        &:hover{                       
                            color: $color-cide;
                            background-color: #4B9461;
                            padding: 10px;
                        }
                    
                    
                    }
                }

  
            }
    }
}