$color-cide: #163D34;
*{
    box-sizing: border-box;
    margin: 0;
}



header{
    background-color: #ffffff;
    padding: 10px;
    
}
    div img{
        background-color: #ffffff;
        height: 100px;
        
    }

.abrir-menu {
    display: none;
}

@media screen and (max-width: 550px){
    /*.abrir-menu{
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        margin-top: 5px;
        align-content: end;
        top: 0;
        right: 0;
        padding: .5rem;
        gap: 1rem;
    }*/

    /*nav ul li{
        display: none;
    }*/
     


    .nav{
       
        top: 105px;
        right: 0;
        background-color: $color-cide;
        height: auto;
        padding: 2rem;
        bottom: 0;
        
    }

        .nav-list{
        display: flex;
        flex-direction: column;
        color: #163D34;
       
        align-items: center;
        
      
        
    }

  

}

    nav{
        background-color: $color-cide;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        height: 70px;
        
      
    
        
            ul{
                    display: flex;
                    list-style-type: none;
                    align-items: center;
                    
                    
                li{
                    
                    margin: 25px;
                   
                    
                    a{
                        text-decoration: none;
                        color: #ffffff;
                        font-family: 'Nunito Sans', sans-serif;
                        
                        &:hover{                       
                            color: $color-cide;
                            background-color: #4B9461;
                            padding: 10px;
                        }
                    
                    
                    }
                }

  
            }
    
        }