

section{
    h1{
        color: #163D34;
        text-align: center;
        font-size: 34px;
        margin-top: 25px;
        font-family: 'Roboto Flex', sans-serif;
    }

    h2{
        color: #163D34;
        text-align: center;
        font-size: 28px;
        font-family: 'Roboto Flex', sans-serif;

        
    }

}



    .grid-container{
               
        margin: 35px;
        background-color: #7C97A3;
        height: 30px;
        /* grids */
    
        display: grid;
        position: relative;
    
        /*columnas*/
        grid-template-columns: repeat(2, 1fr);
    
        /* rows*/
        grid-template-rows: repeat(2, 1fr);
    
        /*gap separacion entre columnas o filas */
     
        column-gap: 1px;
        /*
        padding-left: 5px;
        padding-bottom: 5px;*/
    
        padding: 2px;
       
        }
        
        .uno{
           
            font-family: 'Nunito Sans', sans-serif;
            font-size: 20px;
            font-display: 'Nunito Sans', sans-serif;
            color: #ffffff;
            /*padding-left: 15px;*/
            
            border-right: 2px solid white;
            padding-inline: 120px;

            }

        .dos{
            padding-inline: 130px;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 20px;
            color: #ffffff;
            margin-left: 20px;
           
        }
        
        
        .listascentrales{
            color: #7C97A3;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 16px;
             margin-left: 180px;
            
        
        }

    .centrales{
        margin-top: 30px;
        display: flex;
        height: 450px;
        /*elemento para alinear los elementos*/
        align-items: center;
        flex-wrap: wrap;
        /*propiedad para el container*/
        /*justify es para poder poner a los elementos en el lugar que nosotros queramos*/
        justify-content: space-around;
        padding: 5px;
        flex-direction: row-reverse;
        /*BORDER*/
        border-radius: 5px solid;
    
    }
   
    .centrales img{
        width: 250px;
            
    }

    .centrales p{
        font-family: 'Nunito Sans', sans-serif;
        color: #ffffff;
        text-align: center;
        font-size: 24px;
    }

    section .centrales-uno{
        background-image: linear-gradient(to top, #1D5770, #7C97A3);
        padding: 5px;   
        /*propiedad para mover los items de manera independiente*/
        align-self: stretch;
        border-radius: 5px;
        
    }

    section .centrales-dos{
        padding: 5px;
        background-image: linear-gradient(to top, #1D5770, #7C97A3);
        align-self: stretch;
        border-radius: 5px;
        

    }

    .centrales-tres{
        padding: 5px;
        background-image: linear-gradient(to top, #1D5770, #7C97A3);
        align-self: stretch;
        font-family: 'Nunito Sans', sans-serif;
       
 
    }
